[submodule "ceba.js/external/tor"]
	path = ceba.js/external/tor
	url = https://github.com/torproject/tor.git
[submodule "ceba.js/external/libevent"]
	path = ceba.js/external/libevent
	url = https://github.com/libevent/libevent.git
[submodule "ceba.js/external/zlib"]
	path = ceba.js/external/zlib
	url = https://github.com/madler/zlib.git
[submodule "ceba.js/external/libressl"]
	path = ceba.js/external/libressl
	url = https://github.com/libressl-portable/portable.git
